@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Kdam+Thmor+Pro&family=Kenia&family=Open+Sans:wght@300;500;700&family=Orbitron:wght@600;700&family=Roboto&display=swap");
body {
  background-color: #fff4e6;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: grid;
  height: 100vh;
  place-items: center;
}
body * {
  margin: 0;
  font-family: "DM Serif Display", serif;
}
body figure {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 600px !important;
  transition: 0.4s;
  border-radius: 10pt;
  height: 425px;
}
body figure img {
  width: inherit;
  height: inherit;
  border-radius: 10pt 0 0 10pt;
}
body figure .prod_details {
  padding: 30px;
  text-align: left;
  width: 500px;
}
body figure .prod_details .prod_type {
  font-family: Arial, Helvetica, sans-serif;
  color: #868e96;
  letter-spacing: 2px;
  font-weight: 100;
  text-transform: uppercase;
  font-size: 13px;
}
body figure .prod_details h1.header_text {
  margin: 0;
  line-height: 32px;
  padding: 20px 0 0 0;
  color: #343a40;
  width: 200px;
  letter-spacing: 2px;
}
body figure .prod_details > p {
  color: #868e96;
  font-size: 16px;
  margin: 20px 0;
  font-family: Arial, Helvetica, sans-serif;
  text-align: inherit;
  line-height: 25px;
}
body figure .prices {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0 0 20px 0;
}
body figure .prices .cancelled {
  align-self: center;
  text-decoration: line-through;
  color: #868e96;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}
body figure .prices .main_price {
  color: #099268;
  font-weight: bold;
  letter-spacing: 2px;
}
body figure .add_to_cart_btn button {
  background: #099268;
  border: 0;
  border-radius: 5pt;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  font-weight: 900;
  width: 100%;
  text-align: center;
  padding: 10px 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 16px;
  cursor: pointer;
}
body figure .add_to_cart_btn button svg {
  font-size: 20px;
}
@media screen and (max-width: 650px) {
  body figure {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 400px !important;
    margin: 50px 0;
  }
  body figure img {
    height: 500px;
    border-radius: 10pt 10pt 0 0;
  }
  body figure .prod_details {
    width: 300px;
    padding: 30px 0 !important;
  }
  body figure .prod_details h1.header_text {
    width: 300px;
  }
  body footer.attribution {
    transform: scale(0.8) !important;
    text-align: center;
    border-radius: 5pt 5pt 0 0;
  }
}

footer.attribution {
  border: 1px solid #099268;
  background-color: rgba(43, 138, 62, 0.2);
  padding: 15px;
  font-family: "Kdam Thmor Pro", sans-serif;
  border-radius: 5pt;
  letter-spacing: 1px;
}
footer.attribution a {
  text-decoration: none;
  color: #099268;
  font-family: inherit;
  opacity: 0.7;
  transition: 0.4s;
}
footer.attribution a:hover {
  opacity: 1;
}/*# sourceMappingURL=styles.css.map */