@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Kdam+Thmor+Pro&family=Kenia&family=Open+Sans:wght@300;500;700&family=Orbitron:wght@600;700&family=Roboto&display=swap');

$bg-main: #fff4e6;
$sec-text-color: #868e96;
$btn-green: #099268;
$default-font: 'DM Serif Display', serif;
$sorta-dark: #343a40;
$font-attribution: 'Kdam Thmor Pro', sans-serif;;

body {
    background-color: $bg-main;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: grid;
    height: 100vh;
    place-items: center;

    & * {
        margin: 0;
        font-family: $default-font;
    }

    figure {
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 600px !important;
        transition: .4s;
        border-radius: 10pt;
        // overflow: hidden;
        height: 425px;

       img {
            width: inherit;
            height: inherit;
            border-radius: 10pt 0 0 10pt;
        }

        .prod_details {
            padding: 30px;
            text-align: left;
            width: 500px;

            .prod_type {
                font-family: Arial, Helvetica, sans-serif;
                color: $sec-text-color;
                letter-spacing: 2px;
                font-weight: 100;
                text-transform: uppercase;
                font-size: 13px;
            }

            h1.header_text {
                margin: 0;
                line-height: 32px;
                padding: 20px 0 0 0;
                color: $sorta-dark;
                width: 200px;
                letter-spacing: 2px;
            }
        }

        .prod_details > p {
            color: $sec-text-color;
            font-size: 16px;
            // width: 200px;
            margin: 20px 0;
            font-family: Arial, Helvetica, sans-serif;
            // height: 10px;
            text-align: inherit;
            line-height: 25px;
        }

        .prices {
            display: flex;
            align-items: center;
            gap: 1rem;
            padding: 0 0 20px 0;
            
            
            .cancelled {
                align-self: center;
                text-decoration: line-through;
                color: $sec-text-color;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 13px;
            }

            .main_price {
                color: $btn-green;
                font-weight: bold;
                letter-spacing: 2px;
            }
        }

        .add_to_cart_btn {
            button {
                background: $btn-green;
                border: 0;
                border-radius: 5pt;
                font-family: Arial, Helvetica, sans-serif;
                color: #fff;
                font-weight: 900;
                width: 100%;
                text-align: center;
                padding: 10px 50px ;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 0.5rem;
                font-size: 16px;
                cursor: pointer;
                // opacity: 0.8;

                svg {
                    font-size: 20px;
                }
            }
        }
    }

    @media screen and (max-width: 650px) {
        figure {
            display: flex; 
            flex-direction: column;
            height: auto;
            width: 400px !important;
            margin: 50px 0;
           
            img {
                // padding: 0 !important;
                height: 500px;
                border-radius: 10pt 10pt 0 0;
            }

            .prod_details {
                width: 300px;
            padding: 30px 0!important;
                // width: inherit;
                    h1.header_text {
                        width: 300px;  
                }
            }
        }

        footer.attribution {
            transform: scale(0.8) !important;
            text-align: center;
            border-radius: 5pt 5pt 0 0;
        }
    }
}



footer.attribution {
    border: 1px solid $btn-green;
    background-color: rgb(43 138 62 / .2);
    padding: 15px;
    font-family: $font-attribution;
    border-radius: 5pt;
    letter-spacing: 1px;

    a {
        text-decoration: none;
        color: $btn-green;
        font-family: inherit;
        opacity: 0.7;
        transition: .4s;

        &:hover {
            opacity: 1;
        }
    }
}


